.blog-page {
  display: flex;
}

.blog-details {
  flex: 6;
  /* border: 1px solid black; */
  /* margin: 2px; */
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex: 3;
  /* border: 1px solid black; */
  margin: 2px;
  padding: 5px;
  /* padding-right: 5px; */
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
  .blog-page {
    flex-direction: column;
  }

  .blog-details {
    padding: 40px;
  }
}

@media screen and (max-width: 1238px) {
  .blog-page {
    flex-direction: column;
  }

  .blog-details {
    padding: 40px;
  }
}

@media screen and (min-width: 1238px) {
  .sidebar {
    position: sticky;
    top: 100px;
  }
}
