.blog-page {
  display: flex;
}

.blog-details {
  flex: 9;
  /* border: 1px solid black; */
  margin: 2px;
  padding: 80px;
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex: 2;
  /* border: 1px solid black; */
  margin: 2px;
  padding: 5px;
  padding-right: 5px;
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
  .blog-page {
    flex-direction: column;
  }

  .blog-details {
    padding: 40px;
  }
}

@media screen and (max-width:1238px){
  .blog-page {
    flex-direction: column;
  }

  .blog-details {
    padding: 40px;
  }
}